.company_body{
	float:left;
	width:1190px;;
	height:1200px;
	margin-left:6%;
}

.company_image_intro{
	width:100%;
	height:550px;
	float:left;
}

.company_image{
	float:left;
	width:900px;
	height:400px;
	margin-left:12%;
	margin-top:5%;
	background-image: url(/IHaveAFarm/Image/company1.jpg);
}

.company_intro{
	width:100%;
	height:500px;
	float:left;
}

.company_intro_font{
	float:left;
	width:100%;
	height:100px;
	margin-top:5px;
}